{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if company.bannerPicture %}
<div class="bannerPic" style="background-image: url('{{company.bannerPicture.url}}');">   

  </div>
{% else %}
<div class="bannerPic" style="background-image: url('{%static 'images/Grey_full.png'%}');">
  </div>

{% endif %}

  <div>
    <div class="profile-single-company">
        <div class="profile-companies">
          <div class="profile-picture-wrapper">
            
            {% if company.profilePicture %}
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="profile-company-profile-pic">
            {% else %}
            <img class="profile-company-profile-pic" src="{% static 'images/avatar.jpeg'%}" alt="Avatar">
            {% endif %}

           
            
          </div>
          <div>
            <p class="profile-company-name">{{company.companyName}}</p>
            <h5 class="profile-company-category">{{company.category}}</h5>
            <p class="profile-social-stats">{{company.companyLikes}} Likes . {{company.companyFollows}} Followers</p>
            <i class="fa fa-star profile-icon"></i><i class="fa fa-star profile-icon"></i><i class="fa fa-star profile-icon"></i><i class="fa fa-star profile-icon"></i><i class="fa fa-star profile-icon"></i>
            <button class="button" style="float: right; margin-top: 0px;"><a href="" class="button-text" >Reviews</a> </button>
          </div>
          
        </div>
        
        
          
        </div>
  </div>
  <hr style="color: #083966;">
  <div class="company-profile-nav">
    <ul>
        <li><a href="{% url 'companyProfile' company.id %}">About</a></li>
        <li><a href="{% url 'allPosts' company.id %}">Posts</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="{% url 'reviews' company.id %}">Reviews</a></li>
        <li><a href="{% url 'companyPhotos' company.id %}">Photos</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">FAQs</a></li>
    </ul>
  </div>
  
  <hr style="color: #083966;">
  <div class="profile-main-content">
    <div class="sidebar">
      <div>
      <h3 style="margin-top: 30px;">Profile Info</h3>

      <div class="sidebar-profileInfo-content">
        <p class="profileInfo-text"><i class="fa fa-map-marker"></i> {{company.address}}</p>
        <p class="profileInfo-text"><i class="fa fa-phone"></i> {{company.phone}}</p>
        <p class="profileInfo-text"><i class="fa fa-envelope"></i> {{company.email}}</p>
        <p class="profileInfo-text"><i class="fa fa-globe"></i> {{company.websiteUrl}}</p>
        <p class="profileInfo-text"><i class="fa fa-clock"></i> opened/closed</p>
      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Gallery <span class="see-all"><a href="{% url 'companyPhotos' company.id %}"> See all</a></span></h3>

      <div class="sidebar-profileInfo-content">
       {% for post in posts %}
       {% if post.company == company %}
        <img src="{{post.image.url}}" alt="profilePic" class="profile-company-gallery">
        {% endif %}
        {% endfor %}

      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Location</h3>
      <div id="map"></div>


      
    </div>




    </div>
    <div class="mainarea">
      
    <div>
      <h3 style="margin-top: 30px;">Posts</h3>
      {% for post in posts %}
      <div class="mainarea-about-content">
        <div class="companies">
          <div class="profile-picture-wrapper">
            
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="company-profile-pic">
           
            
          </div>
          <div>
            <p class="company-name">{{company.companyName}}</p>
            <p class="social-stats">{{post.created_at}}</p>
           

            
          </div>
          
          
        </div>
        <p>{{post.body}}</p>
          <img src="{{post.image.url}}" alt="post Image" class="post-image">
          <hr class="post-hr">
          <i class="fa fa-thumbs-up post-icon-1"> {{post.post_likes}} Likes</i> <i class="fa fa-comment post-icon-2"> {{post.post_comments}} Comments</i><i class="fa fa-share post-icon-3"> Share</i>
          <hr class="post-hr">
          <form>
            {% csrf_token %}
            <div class="input-container">
              <input type="text" placeholder="Write a comment ...">
              <button style="background-color: transparent; border: none;">
              <i class="fa fa-paper-plane" style="color: #083966;"></i>
            </button>
            </div>
          </form>
    </div>
    {% endfor %}
  </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
    console.log("testing")
    var lat = {{ company.latitude }};
    var lng = {{ company.longitude }};
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 6
    });
    var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map
  });
})
      </script>
{% endblock %}