a{
    text-decoration: none;
    color: black;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #083966;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* logo text  */
.logo-text{
    text-decoration: wavy;
    color: white;
    font-size: 25px !important;
    font-weight: bolder;
    font-family: 'Bradley Hand',cursive, serif;
    padding: 14px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
/* user image */
.user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 10px;
    
}
.search-div{
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px !important;
    width: 100%;
    text-align: center;
    padding-top: 120px;

    
    
    
}
.search-div input{
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(249,252,252,0.8);
    
}
.search-div-text{
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bradley Hand',cursive, serif;
    padding: 5px;
}
.fa-search{
    color: #083966;
    font-size: 20px;
    padding: 10px;
    background-color: #083966;
    border-radius: 10%;
    cursor: pointer;
    background: none;
}
.main-content{
    display: flex;
    
    
}
/* filter section */
.filter{
    width: 25%;
    
    
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
    
    float: left;
    
}
.filter-title{
    text-align: center;
    color: #083966;
    font-size: 20px;
    font-weight: bold;
}

.filter-hr{
    color: #083966;

}
.filter-form-div{
    width: 100%;
    
    
    overflow: hidden;
    padding: 5px;   
    color: black;
    font-size: 20px;
    font-weight: bold;
    float: left;
    
}
label{
    margin: 5px;
    padding: 4px;
    font-weight: 300;
}
select {
    /* Add some basic styles */
    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    width: 75%;
  
    /* Add a custom dropdown arrow using the ::before pseudo-element */
}
selector ::before {
      content: "";
      border: solid #333;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  
  
  
.company-wrapper{
    width: 75%;
    height: 100px;
    float: right;
    margin-right: 20px; 
    

}
.single-company{
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 1px;
    border-radius: 10px;
}
.companies{
    background-color: #f5f5f5;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    display: flex;
    
}
.company-profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 10px;
}
.company-name{
    /* font-size: 30px; */
    font-size: 30px;
    padding: 1px;
    margin: 0;
    font-weight: bold;
    
}
.company-category{
    margin: 1px;
}
.social-stats{
    margin: 1px;
}
.fa-star{
    color:#1f57e8;
    padding: 1px;
}
.button{
    background-color: #083966;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 10px;
    width: 40%;
    
}
.button-text{
    color:white;
    text-decoration: none;
}
.post-image{
    width: 100%;
    height: auto;
}
.post-hr{
    color: #083966;
}


