{% extends 'dashboard.html' %} 
{% load static %}

{% block contentdashboard %}
<div class="container h-100">
    <div class="row justify-content-right align-items-right" >
        <h3 class="mb-4 dashboard-title">Dashboard-My Ads</h3>
    </div>
  
    {% for company in myBusinesses %}
    
    <div class="row justify-content-right align-items-right" >

      <div class="d-flex col-11">
        <a href="{% url 'businessDetailDashboard' company.id %}"> <h3 class="mt-4 dashboard-title">{{company.companyName}}</h3></a>

        {% if catalogs %}
        <a> </a>
       {% else %}
       <a href="{% url 'createAd' company.id %}"  class="btn ml-auto mt-4"> <button type="button" style="height: 40px; background-color: rgb(38, 109, 44); width: auto; color: white;"> + create Ad</button></a>

       {% endif %}
      </div>
    </div>
    <div class="row">
      {% if company.advertisements.all %}
    {% for ad in company.advertisements.all %}
        
    <div class="row col-11 justify-content-center align-items-center m-0" >
        
      
      <table class="table">
       <thead class="" style="background-color:  #083966; color: white;">
         <tr>
           <th>Ad Image</th>
           <th>Ad Text</th>
            <th>Ad Type</th>
           <th>Ad Impressions</th>
           <th>Ad Clicks</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>

            <th>Actions</th>
         </tr>
       </thead>
       <tbody>
         
         <tr>
           <td>
            {% if ad.adImage %}
            
            <img src="{{ad.adImage.url}}" alt="ad pic" class="" style="height: 90px; width: 90px;">
            {% else %}
            <img class="" src="{% static 'images/avatar.jpeg'%}" alt="item pic" style="height: 90px; width: 90px;">
            {% endif %}</td>
           <td>{{ad.Ad_text}}</td>
           <td>{{ad.adType}}</td>
            <td>{{ad.impressionsCount}}</td>
            <td>{{ad.clicksCount}}</td>
            <td>{{ad.startDate}}</td>
            <td>{{ad.endDate}}</td>
            <td>{{ad.adStatus}}</td>
           <td><a href="#"><button class="btn btn-primary">Activate</button></a>  <a href="{% url 'deleteAd' ad.id %}"><button class="btn btn-danger">delete</button></a></td>
         </tr>
      
 
       </tbody>
      </table>
 
    
        
     </div>
     <div class="row col-11 justify-content-center align-items-center m-0" >
      
      <canvas id="chart{{ad.id}}"></canvas>
      
     </div>
     <script>
      $(document).ready(function() {
       
  const ctx = document.getElementById('chart{{ad.id}}');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Ad Impressions', 'Ad Clicks'],
      datasets: [{
        label: 'Ad performance',
        data: [{{ad.impressionsCount}}, {{ad.clicksCount}}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


      
      });
    </script>

  
  {% endfor %}
  {% else %}
      <p>You currently have no Ads for this Business. Create an Ad to promote your business.</p>
  {% endif %}
</div>
    <hr>
   
    {% endfor %}
    
</div>

{% endblock %}