{% extends 'auth_base.html' %}

{% load static %}
{% block content %}
<div>
    <div class="name-section">
        <h1 class="company-name">DigiVerse</h1>
        <p>
            DigiVerse allows you to find the best reviewed products and services across the globe .....
        </p>

    </div>
    <div class="auth-section">
        
        <div class="form-container">
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="POST">
                {% csrf_token %}
                {{ password_reset_form.as_p }}                    
                <button type="submit">Send email</button>
            </form>
            <p class="p">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>

    </div>
</div>


{% endblock %}
   
