{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <title>Digiverse password reset</title>
</head>
<body>
    <div>
        <div class="name-section">
            <h1 class="company-name">DigiVerse</h1>
            <p>
                DigiVerse allows you to find the best reviewed products and services across the globe .....
            </p>

        </div>
        <div class="auth-section">
            
            <div class="form-container">
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ password_reset_form.as_p }}                    
                    <button type="submit">Send email</button>
                </form>
                <p class="p">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>

        </div>
    </div>

    
    
</body>
</html>