{% extends 'auth_base.html' %}

{% load static %}
{% block content %}
<div>
    <div class="name-section">
        <h1 class="company-name">DigiVerse</h1>
        <p>
            DigiVerse allows you to find the best reviewed products and services across the globe .....
        </p>

    </div>
    <div class="auth-section">
        
        <div class="form-container">
            <h2 >Password reset complete</h2>
<hr>
<p>Your password has been set. You may go ahead and log in now.</p>                 
<a href="{% url 'login' %}" >Log in</a>
        </div>

</div>

{% endblock %}
   
   
