{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if company.bannerPicture %}
<div class="bannerPic" style="background-image: url('{{company.bannerPicture.url}}');">   

  </div>
  {% else %}
  <div class="bannerPic" style="background-image: url('{%static 'images/Grey_full.png'%}');">
  </div>

  {% endif %}
  <div>
    <div class="profile-single-company">
        <div class="profile-companies">
          <div class="profile-picture-wrapper">
            {% if company.profilePicture %}
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="profile-company-profile-pic">
            {% else %}
            <img class="profile-company-profile-pic" src="{% static 'images/avatar.jpeg'%}" alt="Avatar">
            {% endif %}

           
            
          </div>
          <div>
            <p class="profile-company-name">{{company.companyName}}</p>
            <h5 class="profile-company-category">{{company.category}}</h5>
            <p class="profile-social-stats">{{company.companyLikes}} <a href="{% url 'likeAndDislikeCompany' company.id %}">Likes</a> . {{company.companyFollows}} <a href="{% url 'followAndUnfollowCompany' company.id %}">Followers</a></p>
            {% if avg_rating is None %}
            <i class="fa">No rating</i>
            {% else %}
            {{avg_rating}}<i class="fa fa-star"></i
              >
            {% endif %}  
            {% if user.is_authenticated and user.id == company.companyAdmin.id %}
            <a href="" class="button-text" ><button class="button" style="float: right; margin-top: 0px;">Reviews </button></a>
            {% else %}

            <a href="{% url 'add_review' company.id %}" class="button-text" ><button class="button" style="float: right; margin-top: 0px;">Add Review </button></a>
            {% endif %}
          </div>
          
        </div>
        
        
          
        </div>
  </div>
  <hr style="color: #083966;">
  <div class="company-profile-nav">
    <ul>
        <li><a href="{% url 'companyProfile' company.id %}">About</a></li>
        <li><a href="{% url 'allPosts' company.id %}">Posts</a></li>
        <li><a href="{% url 'contact' company.id %}">Contact</a></li>
        <li><a href="{% url 'reviews' company.id %}">Reviews</a></li>
        <li><a href="{% url 'companyPhotos' company.id %}">Photos</a></li>
        <li><a href="{% url 'allJobs' company.id %}">Jobs</a></li>
        <li><a href="{% url 'viewCatalog' company.id %}">Catalog</a></li>
    </ul>
  </div>
  
  <hr style="color: #083966;">
  
    <div class="profile-main-content">

      <div class="sidebar">
        <div>
        <h3 style="margin-top: 30px;">Profile Info</h3>
  
        <div class="sidebar-profileInfo-content">
          <p class="profileInfo-text"><i class="fa fa-map-marker"></i> {{company.address}}</p>
          <p class="profileInfo-text"><i class="fa fa-phone"></i> {{company.phone}}</p>
          <p class="profileInfo-text"><i class="fa fa-envelope"></i> {{company.email}}</p>
          <p class="profileInfo-text"><i class="fa fa-globe"></i> <a href="{{company.websiteUrl}}">Visit website</a></p>
          <p class="profileInfo-text"><i class="fa fa-clock"></i> opened/closed</p>
        </div>
      </div>
      <div>
        <h3 style="margin-top: 30px;">Gallery <span class="see-all">
          {% if user.is_authenticated and user.id == company.companyAdmin.id %}
          <a href="#"> Add</a></span>
          {% else %}
  
          <a href="{% url 'companyPhotos' company.id %}"> See all</a></span>
          {% endif %}
        </h3>
  
        <div class="sidebar-profileInfo-content profile-gallery">
         {% for post in posts %}
         {% if post.company == company %}
          <img src="{{post.image.url}}" alt="profilePic" id="img-{{ forloop.counter }}" class="profile-company-gallery my-image">
          
        
          {% endif %}
          {% endfor %}
          {% if company.profilePicture %}
        <img src="{{company.profilePicture.url}}" alt="profilePic" id="" class="profile-company-gallery my-image">
        {% endif %}
        {% if company.bannerPicture %}
        <img src="{{company.bannerPicture.url}}" alt="profilePic" id="" class="profile-company-gallery my-image">
        {% endif %}
          <div id="my-modal" style="display:none;">
            <img src="">
            <div class="close-modal" id="close-button">x</div>
        </div>
  
        </div>
      </div>
      <div>
        <h3 style="margin-top: 30px;">Location</h3>
        <div id="">
          <iframe src="https://maps.google.com/maps?q={{company.latitude}},{{company.longitude}}&hl=en&z=14&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

        </div>
  
  
        
      </div>
      <div id="ad-container" style="margin-top: 30px;">
        <a href="" id="anchor-tag">
          <span style="color: blue;">Ad</span>
        <p class="ad-text"  id="ad-text" ></p>
        <img src="" alt="Advertisement" style="height: 180px; width: 350px; border-radius: 10px;"></a>
  
      </div>
      <div id="ad-container2" style="margin-top: 30px;">
        <a href="" id="anchor-tag2">
          <span style="color: blue;">Ad</span>
        <p class="ad-text2"  id="ad-text2" ></p>
        <img src="" alt="Advertisement" style="height: 180px; width: 350px; border-radius: 10px;"></a>
  
      </div>
  
  
  
  
      </div>
        
          <div class="mainarea">
      
            
              <h3 style="margin-top: 30px;">Reviews ({{company.companyReviews}})</h3>
              {% for review in reviews %}
              <div class="mainarea-about-content">
                <div class="companies">
                  <div class="profile-picture-wrapper">
                    {% if review.user.profilePicture %}
                    
                    <img src="{{review.user.profilePicture.url}}" alt="profilePic" class="company-profile-pic-review">
                    {% else %}
                    <img class="user-image" src="{% static 'images/avatar.jpeg'%}" alt="Avatar" class="company-profile-pic-review">
                    {% endif %}

                   
                    
                  </div>
                  <div>
                    <p class="review-username">{{review.user.username}}</p>
                    <p class="social-stats">{{review.created_at}}</p>
                    {% with ''|center:review.rating as range %}
                    {% for _ in range %}
                    <i class="fa fa-star review-icon"></i>
                    {% endfor %}
                    {% endwith %}
                   
        
                    
                  </div>
                  
                  
                </div>
                <p>{{review.review}}</p>
                {% if review.reviewPhoto %}
                  <img src="{{review.reviewPhoto.url}}" alt="post Image" class="post-image">
                {% endif %}
                  
                 
            </div>
            {% endfor %}

            <div class="">
              <div id="review-paginator">
                  <span class="">
                    {% if reviews.has_previous %}
                        <a href="?page=1" style="color: #083966;">&laquo; first</a>
                        <a href="?page={{ reviews.previous_page_number }}" style="color: #083966;">previous</a>
                    {% endif %}
          
                      <span >
                          Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}
                      </span>
          
                    {% if reviews.has_next %}
                        <a href="?page={{ reviews.next_page_number }}" style="color: #083966;">next</a>
                        <a href="?page={{ reviews.paginator.num_pages }}" style="color: #083966;">last &raquo;</a>
                    {% endif %}
                  </span>
                </div>
              </div>
          
            </div>
     </div>
     {% include 'footer.html' %}
     <script>
      $(document).ready(function() {
    var ads = [
      {% for ad in ads %}
        { 
          "image_url": "{{ ad.adImage.url }}",
          "text": "{{ ad.Ad_text }}",
          "id":"{{ ad.id }}",
          "impressions": "{{ ad.impressionsCount }}",
        },
      {% endfor %}
    ];
  
    // Choose a random ad from the list
    var ad = ads[Math.floor(Math.random() * ads.length)];
    ad.impressions++;
    url =  `/advertisements/ads/impressions/${ad.id}/`;
  
  // Save the updated impressions to the server
  $.ajax({
      type: "POST",
      url:url,
      data: {
          ad_id: ad.id,
          csrfmiddlewaretoken: "{{ csrf_token }}"
      }
  });
  
    // Get the ad container element
    var adContainer = $('#ad-container');
    var newLink = `/advertisements/ads/${ad.id}/`;
  
    // Set the source of the image tag and ad text
    adContainer.find('img').attr('src', ad.image_url);
    adContainer.find('.ad-text p').text(ad.text);
    document.getElementById('ad-text').innerHTML = ad.text;
    document.getElementById("anchor-tag").href = newLink;
  
  
    // Fade in the ad
    adContainer.fadeIn();
  
    // After some time, fade out the ad and choose a new one
    function changeAd(){
  
      console.log('fading out');
      adContainer.fadeOut(function() {
        // Choose a new ad and repeat the process
        var newAd = ads[Math.floor(Math.random() * ads.length)];
        var newLink =`/advertisements/ads/${newAd.id}/`;
        newAd.impressions++;
        newurl = `/advertisements/ads/impressions/${newAd.id}/`;
  
  // Save the updated impressions to the server
   $.ajax({
      type: "POST",
      url: newurl,
      data: {
          ad_id: newAd.id,
          csrfmiddlewaretoken: "{{ csrf_token }}"
      }
  });
  
        adContainer.find('img').attr('src', newAd.image_url);
        adContainer.find('p').text(newAd.text);
  
        document.getElementById('ad-text').innerHTML = newAd.text;
        document.getElementById("anchor-tag").href = newLink;
  
  
        adContainer.fadeIn();
      });
      setTimeout(changeAd, 10000); 
  
    }
    changeAd()
   
  });
  
        </script>
         <script>
          $(document).ready(function() {
        var ads = [
          {% for ad in ads %}
            { 
              "image_url": "{{ ad.adImage.url }}",
              "text": "{{ ad.Ad_text }}",
              "id":"{{ ad.id }}",
              "impressions": "{{ ad.impressionsCount }}",
            },
          {% endfor %}
        ];
      
        // Choose a random ad from the list
        var ad2 = ads[Math.floor(Math.random() * ads.length)];
        ad2.impressions++;
        url2 =  `/advertisements/ads/impressions/${ad2.id}/`;
      
      // Save the updated impressions to the server
      $.ajax({
          type: "POST",
          url:url2,
          data: {
              ad_id: ad2.id,
              csrfmiddlewaretoken: "{{ csrf_token }}"
          }
      });
      
        // Get the ad container element
        var adContainer2 = $('#ad-container2');
        var newLink2 = `/advertisements/ads/${ad2.id}/`;
      
        // Set the source of the image tag and ad text
        adContainer2.find('img').attr('src', ad2.image_url);
        adContainer2.find('.ad-text p').text(ad2.text);
        document.getElementById('ad-text2').innerHTML = ad2.text;
        document.getElementById("anchor-tag2").href = newLink2;
      
      
        // Fade in the ad
        adContainer2.fadeIn();
      
        // After some time, fade out the ad and choose a new one
        function changeAd2(){
      
          console.log('fading out');
          adContainer2.fadeOut(function() {
            // Choose a new ad and repeat the process
            var newAd2 = ads[Math.floor(Math.random() * ads.length)];
            var newLink2 =`/advertisements/ads/${newAd2.id}/`;
            newAd2.impressions++;
            newurl2 = `/advertisements/ads/impressions/${newAd2.id}/`;
      
      // Save the updated impressions to the server
       $.ajax({
          type: "POST",
          url: newurl2,
          data: {
              ad_id: newAd2.id,
              csrfmiddlewaretoken: "{{ csrf_token }}"
          }
      });
      
            adContainer2.find('img').attr('src', newAd2.image_url);
            adContainer2.find('p').text(newAd2.text);
      
            document.getElementById('ad-text2').innerHTML = newAd2.text;
            document.getElementById("anchor-tag2").href = newLink2;
      
      
            adContainer2.fadeIn();
          });
          setTimeout(changeAd2, 11000); 
      
        }
        changeAd2()
       
      });
      
            </script>
     
           
    
        
      
     
    
  
  
{% endblock %}