{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if company.bannerPicture %}
<div class="bannerPic" style="background-image: url('{{company.bannerPicture.url}}');">   

  </div>
  {% else %}
  <div class="bannerPic" style="background-image: url('{%static 'images/Grey_full.png'%}');">
  </div>
  {% endif %}
  <div>
    <div class="profile-single-company">
        <div class="profile-companies">
          <div class="profile-picture-wrapper">
            {% if company.profilePicture %}
            
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="profile-company-profile-pic">
            {% else %}
            <img class="profile-company-profile-pic" src="{% static 'images/avatar.jpeg'%}" alt="Avatar">
            {% endif %}
           
            
          </div>
          <div>
            <p class="profile-company-name">{{company.companyName}}</p>
            <h5 class="profile-company-category">{{company.category}}</h5>
            <p class="profile-social-stats">{{company.companyLikes}} <a href="{% url 'likeAndDislikeCompany' company.id %}">Likes</a> . {{company.companyFollows}} <a href="{% url 'followAndUnfollowCompany' company.id %}">Followers</a></p>
            {% if avg_rating is None %}
            <i class="fa">No rating</i>
            {% else %}
            {{avg_rating}}<i class="fa fa-star"></i
              >
            {% endif %}              
            {% if user.is_authenticated and user.id == company.companyAdmin.id %}
            <a href="{% url 'updateCompanyProfile' company.id %}" class="button-text" > <button class="button" style="float: right; margin-top: 0px;">Edit Profile </button></a>
            {% else %}

            <a href="{% url 'reviews' company.id %}" class="button-text" > <button class="button" style="float: right; margin-top: 0px;">Reviews </button></a>
            {% endif %}
          </div>
          
        </div>
        
        
          
        </div>
  </div>
  <hr style="color: #083966;">
  <div class="company-profile-nav">
    <ul>
        <li><a href="{% url 'companyProfile' company.id %}">About</a></li>
        <li><a href="{% url 'allPosts' company.id %}">Posts</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="{% url 'reviews' company.id %}">Reviews</a></li>
        <li><a href="{% url 'companyPhotos' company.id %}">Photos</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="{% url 'allJobs' company.id %}">Jobs</a></li>
        <li><a href="{% url 'viewCatalog' company.id %}">Catalog</a></li>
    </ul>
  </div>
  
  <hr style="color: #083966;">
  <div class="profile-main-content">
    <div class="sidebar">
      <div>
      <h3 style="margin-top: 30px;">Profile Info</h3>

      <div class="sidebar-profileInfo-content">
        <p class="profileInfo-text"><i class="fa fa-map-marker"></i> {{company.address}}</p>
        <p class="profileInfo-text"><i class="fa fa-phone"></i> {{company.phone}}</p>
        <p class="profileInfo-text"><i class="fa fa-envelope"></i> {{company.email}}</p>
        <p class="profileInfo-text"><i class="fa fa-globe"></i> {{company.websiteUrl}}</p>
        <p class="profileInfo-text"><i class="fa fa-clock"></i> opened/closed</p>
      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Gallery <span class="see-all">
        {% if user.is_authenticated and user.id == company.companyAdmin.id %}
        <a href="{% url 'addImages' company.id %}"> Add</a></span>
        {% else %}

        <a href="{% url 'companyPhotos' company.id %}"> See all</a></span>
        {% endif %}
      </h3>

      <div class="sidebar-profileInfo-content profile-gallery">
       
        <div id="my-modal" style="display:none;">
          <img src="">
          <div class="close-modal" id="close-button">x</div>
      </div>

      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Location</h3>
      <div id="map"></div>


      
    </div>




    </div>
    <div class="mainarea">
      <div class="container">
        <div class="col-11 col-md-9 col-lg-7 card mt-2">
          <h3 >Edit Business Profile</h3>
          <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              {{ form.companyName.label_tag }}
              {{ form.companyName }}
              {{ form.companyName.errors }}
            </div>
            <div class="form-group">
              {{ form.description.label_tag }}
              {{ form.description }}
              {{ form.description.errors }}
              
            </div>
            <div class="form-group">
              {{ form.category.label_tag }} <br>
              {{ form.category }}
              {{ form.category.errors }}
            </div>
            <div class="form-group">
              {{ form.phone.label_tag }} <br>
              {{ form.phone }}
              {{ form.phone.errors }}
            </div>
            <div class="form-group">
              {{ form.email.label_tag }} <br>
              {{ form.email }}
              {{ form.email.errors }}
            </div>
            <div class="form-group">
              {{ form.websiteUrl.label_tag }}
              {{ form.websiteUrl }}
              {{ form.websiteUrl.errors }}
            </div>
            <div class="form-group">
              {{ form.address.label_tag }} <br>
              {{ form.address }}
              {{ form.address.errors }}
            </div>
            <div class="form-group">
              {{ form.profilePicture.label_tag }} <br>
              {{ form.profilePicture }}
              {{ form.profilePicture.errors }}
            </div>
            <div class="form-group">
              {{ form.bannerPicture.label_tag }} <br>
              {{ form.bannerPicture }}
              {{ form.bannerPicture.errors }}
            </div>
            <div class="form-group d-flex justify-content-end">
              <button type="submit" class="btn  button">Submit</button>
              </div>
          </form>
        </div>

      </div>



          
    
  




    </div>
  </div>
  <script>
    $(document).ready(function(){
      console.log("testing images")

    $('.my-image').on('click',function(){
        var image_id = $(this).attr('id');
        var image_src = $(this).attr('src');
        $('#my-modal img').attr('src', image_src);
        $('#my-modal').show();
    });
    $('.close-modal').on('click', function(){
    $('#my-modal').hide();
});



    console.log("testing")
    var lat = {{ company.latitude }};
    var lng = {{ company.longitude }};
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 6
    });
    var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map
  });
 






})
      </script>
   
{% endblock %}
  
