{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigiVerse</title>
    <link href="{% static 'assets/img/digiverselogo.png' %}" rel="icon">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/companyProfile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/review.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU6zYzK_CODTUsjRItevAlv2VtthURUbM&callback=initMap"
    ></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
    />
  </head>
  <body>
    {% include 'messages.html' %}

    <div class="topnav sticky-top">
      <a class="logo-text" href="#">Digi Verse</a>

      <div class="topnav-right">
        <a href="{% url 'home' %}">Home</a>


        <a href="{% url 'listCompany' %}">List Business</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'profile' user.id %}">{{user.username}}</a>
        {% if user.profilePicture %}
        <img
          class="user-image"
          src="{{user.profilePicture.url}}"
          alt="Avatar"
        />
        {% else %}
        <img
          class="user-image"
          src="{% static 'images/avatar.jpeg'%}"
          alt="Avatar"
        />
        {% endif %} {% else %}

        <a href="{% url 'register' %}">Sign up</a>
        <a href="{% url 'login' %}">Log in</a>
        <img
          class="user-image"
          src="{% static 'images/avatar.jpeg'%}"
          alt="Avatar"
        />
        {% endif %}
      </div>
    </div>

    {% block content %} {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        setTimeout(function () {
          $(".alert").remove();
        }, 5000);
      });
    </script>
    <script>
    $(document).ready(function() {
  var ads = [
    {% for ad in ads %}
      { 
        "image_url": "{{ ad.adImage.url }}",
        "text": "{{ ad.Ad_text }}",
        "id":"{{ ad.id }}",
        "impressions": "{{ ad.impressionsCount }}",
      },
    {% endfor %}
  ];

  // Choose a random ad from the list
  var ad = ads[Math.floor(Math.random() * ads.length)];
  ad.impressions++;
  url =  `/advertisements/ads/impressions/${ad.id}/`;

// Save the updated impressions to the server
$.ajax({
    type: "POST",
    url:url,
    data: {
        ad_id: ad.id,
        csrfmiddlewaretoken: "{{ csrf_token }}"
    }
});

  // Get the ad container element
  var adContainer = $('#ad-container');
  var newLink = `/advertisements/ads/${ad.id}/`;

  // Set the source of the image tag and ad text
  adContainer.find('img').attr('src', ad.image_url);
  adContainer.find('.ad-text p').text(ad.text);
  document.getElementById('ad-text').innerHTML = ad.text;
  document.getElementById("anchor-tag").href = newLink;


  // Fade in the ad
  adContainer.fadeIn();

  // After some time, fade out the ad and choose a new one
  function changeAd(){

    console.log('fading out');
    adContainer.fadeOut(function() {
      // Choose a new ad and repeat the process
      var newAd = ads[Math.floor(Math.random() * ads.length)];
      var newLink =`/advertisements/ads/${ad.id}/`;
      newAd.impressions++;
      newurl = `/advertisements/ads/impressions/${newAd.id}/`;

// Save the updated impressions to the server
 $.ajax({
    type: "POST",
    url: newurl,
    data: {
        ad_id: newAd.id,
        csrfmiddlewaretoken: "{{ csrf_token }}"
    }
});

      adContainer.find('img').attr('src', newAd.image_url);
      adContainer.find('p').text(newAd.text);

      document.getElementById('ad-text').innerHTML = newAd.text;
      document.getElementById("anchor-tag").href = newLink;


      adContainer.fadeIn();
    });
    setTimeout(changeAd, 10000); 

  }
  changeAd()
 
});

      </script>
         <script>
          $(document).ready(function() {
        var ads = [
          {% for ad in ads %}
            { 
              "image_url": "{{ ad.adImage.url }}",
              "text": "{{ ad.Ad_text }}",
              "id":"{{ ad.id }}",
              "impressions": "{{ ad.impressionsCount }}",
            },
          {% endfor %}
        ];
      
        // Choose a random ad from the list
        var ad2 = ads[Math.floor(Math.random() * ads.length)];
        ad2.impressions++;
        url2 =  `/advertisements/ads/impressions/${ad2.id}/`;
      
      // Save the updated impressions to the server
      $.ajax({
          type: "POST",
          url:url2,
          data: {
              ad_id: ad2.id,
              csrfmiddlewaretoken: "{{ csrf_token }}"
          }
      });
      
        // Get the ad container element
        var adContainer2 = $('#ad-container2');
        var newLink2 = `/advertisements/ads/${ad2.id}/`;
      
        // Set the source of the image tag and ad text
        adContainer2.find('img').attr('src', ad2.image_url);
        adContainer2.find('.ad-text p').text(ad2.text);
        document.getElementById('ad-text2').innerHTML = ad2.text;
        document.getElementById("anchor-tag2").href = newLink2;
      
      
        // Fade in the ad
        adContainer2.fadeIn();
      
        // After some time, fade out the ad and choose a new one
        function changeAd2(){
      
          console.log('fading out');
          adContainer2.fadeOut(function() {
            // Choose a new ad and repeat the process
            var newAd2 = ads[Math.floor(Math.random() * ads.length)];
            var newLink2 =`/advertisements/ads/${newAd2.id}/`;
            newAd2.impressions++;
            newurl2 = `/advertisements/ads/impressions/${newAd2.id}/`;
      
      // Save the updated impressions to the server
       $.ajax({
          type: "POST",
          url: newurl2,
          data: {
              ad_id: newAd2.id,
              csrfmiddlewaretoken: "{{ csrf_token }}"
          }
      });
      
            adContainer2.find('img').attr('src', newAd2.image_url);
            adContainer2.find('p').text(newAd2.text);
      
            document.getElementById('ad-text2').innerHTML = newAd2.text;
            document.getElementById("anchor-tag2").href = newLink2;
      
      
            adContainer2.fadeIn();
          });
          setTimeout(changeAd2, 11000); 
      
        }
        changeAd2()
       
      });
      
            </script>
  </body>
</html>
