<footer style="background-color: white; color: #083966; padding: 20px; text-align: center; margin-top: 10px; height: 60px;">
    <hr style="color: #083966;">
    <div class="container">
      <p>Copyright &copy; 2023 Digi Verse, Inc.</p>
      <ul class="list-unstyled list-inline" style="display:flex; justify-content:center;">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Status</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </footer>