{% extends 'base.html' %} 

{% load static %}
{% block content%} 

<div
  class="search-div"
  style="background-image: url('{%static 'images/digitalsearch.jpg'%}')"
>
  <form action="" class="search-form" method="get">
    {% csrf_token %}
    <input type="search" placeholder="Search.." name="search" />
    <button type="submit"><i class="fas fa-search"></i></button>
    <p class="search-div-text">
      Find the best rated product and service providers from all over the
      world......
    </p>
  </form>
</div>
<!-- main content -->
<div class="profile-main-content" style="margin-bottom: 260px;">
  <div class="sidebar">
    <div class="filter-title">
      <p><i class="fa fa-filter"></i>Advanced filter options</p>
      <hr class="filter-hr" />
    </div>
    <div class="filter-form-div">
      <form action="" method="POST">
        {% csrf_token %}
        <label for="category">Category</label><br />
        <select name="category" id="category" >
          <option value="All">All</option>
          <option value="Agriculture">Agriculture</option>
          <option value="Construction">Construction</option>
          <option value="Education">Education</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Finance">Finance</option>
          <option value="Health">Health</option>
          <option value="Hospitality">Hospitality</option>
          <option value="Mining">Mining</option>
          <option value="Manufacturing">Manufacturing</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Transport">Transport</option>
          <option value="Technology">Technology</option>
          <option value="Wholesale and Retail">Wholesale and Retail</option>
          
          </select
        ><br /><br />
        <label for="rating">Rating</label><br />
        <select name="rating" id="rating">
          <option value="0">All</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option></select
        ><br /><br />
        
        <button type="submit" class="button">Search</button>
      </form>
    </div>
    <div id="ad-container">
      <a href="" id="anchor-tag">
        <span style="color: blue;">Ad</span>
      <p class="ad-text"  id="ad-text" ></p>
      <img src="" alt="Advertisement" style="height: 180px; width: 300px; border-radius: 10px;"></a>

    </div>
    <div id="ad-container2" style="margin-top: 30px;">
      <a href="" id="anchor-tag2">
        <span style="color: blue;">Ad</span>
      <p class="ad-text2"  id="ad-text2" ></p>
      <img src="" alt="Advertisement" style="height: 180px; width: 300px; border-radius: 10px;"></a>

    </div>
    
  
  </div>
  
  <div class="company-wrapper" style="margin-bottom: 60px !important;">
    {% for company in companies %}
    <div class="single-company">
      <a href="{% url 'companyProfile' company.id %}">
        <div class="companies">
          <div class="profile-picture-wrapper">
            {% if company.profilePicture %}

            <img
              src="{{company.profilePicture.url}}"
              alt="profilePic"
              class="company-profile-pic"
            />
            {% else %}
            <img
              class="company-profile-pic"
              src="{% static 'images/avatar.jpeg'%}"
              alt="Avatar"
            />
            {% endif %}
          </div>
          <div>
            <p class="company-name">{{company.companyName}}</p>
            <h5 class="company-category">{{company.category}}</h5>
            <p class="profile-social-stats">
              {{company.companyLikes}}
              <a href="{% url 'likeAndDislikeCompany' company.id %}">Likes</a> .
              {{company.companyFollows}}
              <a href="{% url 'followAndUnfollowCompany' company.id %}"
                >Followers</a
              >
            </p>
            {% if company.avg_rating is None %}
            <i class="fa">No rating</i>
            {% else %}
            {{company.avg_rating}}<i class="fa fa-star"></i
              >
            {% endif %}
            
          </div>
        </div>
      </a>
      <button class="button">
        <a href="{% url 'contact' company.id %}" class="button-text">Contact</a>
      </button>
      <a href="{% url 'reviews' company.id %}" class="button-text"
        ><button class="button">Reviews</button></a
      >
    </div>

    {% endfor %} 
  </div>
</div>



{% include 'footer.html' %}

{% endblock %}
