{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if company.bannerPicture %}
<div class="bannerPic" style="background-image: url('{{company.bannerPicture.url}}');">   

  </div>
  {% else %}
  <div class="bannerPic" style="background-image: url('{%static "images/Grey_full.png"%}');">
  </div>

  {% endif %}
  <div>
    <div class="profile-single-company">
        <div class="profile-companies">
          <div class="profile-picture-wrapper">
            {% if company.profilePicture %}
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="profile-company-profile-pic">
            {% else %}
            <img class="profile-company-profile-pic" src="{% static 'images/avatar.jpeg'%}" alt="Avatar">
            {% endif %}

           
            
          </div>
          <div>
            <p class="profile-company-name">{{company.companyName}}</p>
            <h5 class="profile-company-category">{{company.category}}</h5>
            <p class="profile-social-stats">{{company.companyLikes}} <a href="{% url 'likeAndDislikeCompany' company.id %}">Likes</a> . {{company.companyFollows}} <a href="{% url 'followAndUnfollowCompany' company.id %}">Followers</a></p>
            {% if avg_rating is None %}
            <i class="fa">No rating</i>
            {% else %}
            {{avg_rating}}<i class="fa fa-star"></i
              >
            {% endif %}  
           </div>
          
        </div>
        
        
          
        </div>
  </div>
  <hr style="color: #083966;">
  <div class="company-profile-nav">
    <ul>
        <li><a href="{% url 'companyProfile' company.id %}">About</a></li>
        <li><a href="{% url 'allPosts' company.id %}">Posts</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="{% url 'reviews' company.id %}">Reviews</a></li>
        <li><a href="{% url 'companyPhotos' company.id %}">Photos</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="{% url 'allJobs' company.id %}">Jobs</a></li>
        <li><a href="{% url 'viewCatalog' company.id %}">Catalog</a></li>
    </ul>
  </div>
  
  <hr style="color: #083966;">
  
    <div class="profile-main-content">
        <div class="sidebar">
            <div>
            <h3 style="margin-top: 30px;">Profile Info</h3>
      
            <div class="sidebar-profileInfo-content">
              <p class="profileInfo-text"><i class="fa fa-map-marker"></i> {{company.address}}</p>
              <p class="profileInfo-text"><i class="fa fa-phone"></i> {{company.phone}}</p>
              <p class="profileInfo-text"><i class="fa fa-envelope"></i> {{company.email}}</p>
              <p class="profileInfo-text"><i class="fa fa-globe"></i> {{company.websiteUrl}}</p>
              <p class="profileInfo-text"><i class="fa fa-clock"></i> opened/closed</p>
            </div>
          </div>
          <div>
            <h3 style="margin-top: 30px;">Gallery <span class="see-all">
              {% if user.is_authenticated and user.id == company.companyAdmin.id %}
              <a href="#"> Add</a></span>
              {% else %}
      
              <a href="{% url 'companyPhotos' company.id %}"> See all</a></span>
              {% endif %}
            </h3>
      
            <div class="sidebar-profileInfo-content profile-gallery">
             {% for post in posts %}
             {% if post.company == company %}
              <img src="{{post.image.url}}" alt="profilePic" id="img-{{ forloop.counter }}" class="profile-company-gallery my-image">
              
            
              {% endif %}
              {% endfor %}
              <div id="my-modal" style="display:none;">
                <img src="">
                <div class="close-modal" id="close-button">x</div>
            </div>
      
            </div>
          </div>
          <div>
            <h3 style="margin-top: 30px;">Location</h3>
            <div id="map"></div>
      
      
            
          </div>
      
      
      
      
          </div>
        
          <div class="mainarea">
      
            
              <h3 style="margin-top: 30px;">Add Job</h3>
              <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Job Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Sales Represenative" required>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                  </small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Brief description about the job.
                      </small>
                  </div>
                  <div class="form-group">
                    <label for="requirements">Requirements</label>
                    <textarea class="form-control" id="requirements" rows="3" name="requirements"></textarea>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Academic and professional requirements.
                      </small>
                  </div>
                 
                <div class="form-group">
                  <label for="jobLevel">Job Level</label>
                  <select class="form-control" id="jobLevel" name="jobLevel">
                    <option value="Entry Level" name="jobLevel">Entry Level</option>
                    <option value="Mid Level" name="jobLevel">Mid Level</option>
                    <option value="Senior Level" name="jobLevel">Senior Level</option>
                   </select>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                   
                  </small>
                </div>
                <div class="form-group">
                    <label for="jobType">Job Type</label>
                    <select class="form-control" id="jobType" name="jobType">
                      <option value="Full Time" name="jobType">Full Time</option>
                      <option value="Part Time" name="jobType">Part Time</option>
                      <option value="Contract" name="jobType">Contract</option>
                      <option value="Internship" name="jobType">Internship</option>
                      <option value="Remote" name="jobType">Remote</option>
                     </select>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                     
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="text" class="form-control" id="salary" name="salary" placeholder="10000" >
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Enter monthly salary in KES. not required
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Nairobi" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    </small>
                  </div>
                <div class="form-group">
                    <label for="applicationDeadline">Application Deadline</label>
                    <input type="date" class="form-control" id="applicationDeadline" name="applicationDeadline" required>
                    
                  </div>
                  <div class="form-group">
                    <label for="noOfVacancies">Number of Vacancies</label>
                    <input type="number" class="form-control" id="noOfVacancies" name="noOfVacancies" >
                    
                  </div>
                  
                           <button type="submit" class="btn btn-primary">Submit</button>
                  
                  

                
                
                
              </form>
              
            

            
          
            </div>
        </div>
     
           
        {% include 'footer.html' %}
        
      
     
    
  
  
{% endblock %}