{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Digiverse Login</title>
</head>
<body>
    <div >
        <div class="name-section">
            <h1 class="company-name">DigiVerse</h1>
            <p>
                DigiVerse allows you to find the best reviewed products and services across the globe .....
            </p>

        </div>
        <div class="auth-section">
            <h2 class="auth-section-header">Log in</h2>
            <div class="form-container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{login_form.as_p}}
                    <button type="submit">Log in</button>
                </form>
                <p class="p"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                <p class="p">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>

        </div>
    </div>
   
</body>
</html>