{% extends 'auth_base.html' %}

{% load static %}
{% block content %}
<div>
    <div class="name-section">
        <h1 class="company-name">DigiVerse</h1>
        <p>
            DigiVerse allows you to find the best reviewed products and services across the globe .....
        </p>

    </div>
    <div class="auth-section-signup">
        <h2 class="auth-section-header">Sign Up</h2>
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit">Register</button>
        
            </form>
            <p class="p">Already have an account? <a href="{% url 'login' %}">Log in</a> instead</p>
        </div>

    </div>
</div>
{% endblock %}
