<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digiverse Registration</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit">Register</button>

    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a> instead</p>
</body>
</html>