{% extends 'dashboard.html' %} 
{% load static %}

{% block contentdashboard %}
<div class="container h-100">
    <div class="row justify-content-right align-items-right" >
        <h3 class="mb-4 dashboard-title">Dashboard - {{company.companyName}}-{{catalog.name}} </h3>
    </div>
    <div class="row justify-content-center align-items-center m-0" >
        <div class="card col-11 col-md-3 col-lg-3 mx-4 quick-stats ">
            <div class="card-body ">
              <h5 class="card-title">Businesses Reviews</h5>
              <p class="card-text display-5">{{company.companyReviews}}</p>
            </div>
        </div>
        <div class="card col-11 col-md-3 col-lg-3 mx-4 quick-stats">
            <div class="card-body">
              <h5 class="card-title">Business Likes</h5>
              <p class="card-text display-5">{{company.companyLikes}}</p>
            </div>
        </div>
        <div class="card col-11 col-md-3 col-lg-3 mx-4 quick-stats">
            <div class="card-body">
              <h5 class="card-title">Business Follows</h5>
              <p class="card-text display-5">{{company.companyFollows}}</p>
            </div>
        </div>
       
    </div>
    
    <div class="mb-2 row justify-content-right align-items-right" >
       
        <div class="d-flex col-11">
          <h3 class="mt-4 dashboard-title">Catalog Categories</h3>
         <a href="{% url 'createCatalogCategory' catalog.id %}"  class="btn ml-auto mt-4"> <button type="button" style="height: 40px; background-color: rgb(38, 109, 44); width: auto; color: white;"> + add Category</button></a>
        </div>
      


    </div>
    <div class="row col-11 justify-content-center align-items-center m-0" >
        
     {% if categories %}
     <table class="table">
      <thead class="" style="background-color:  #083966; color: white;">
        <tr>
          <th>Item Category</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>
          <td><a href="{% url 'deleteCatalogCategory' category.id %}"><button class="btn btn-danger">delete</button></a><a href="{% url 'createCatalogItem' category_id=category.id catalog_id=catalog.id%}"><button class="btn ml-1" style="height: 40px; background-color: rgb(38, 109, 44); width: auto; color: white;">+ add item</button></a> 
          </td>
        </tr>
     {% endfor %}

      </tbody>
     </table>

     
     {% else %}
     <p>You currently have no Item categories. Add item categories</p>

     {% endif %}
       
    </div>
    <div class="mb-2 row justify-content-right align-items-right" >
       
        <div class="d-flex col-11">
          <h3 class="mt-4 dashboard-title">Catalog Items</h3>
        </div>
      


    </div>
    <div class="row col-11 justify-content-center align-items-center m-0" >
        
        {% if catalogItems %}
        <table class="table">
         <thead class="" style="background-color:  #083966; color: white;">
           <tr>
             <th>Image</th>
             <th>Name</th>
             <th>Category</th>
             <th>Description</th>
             <th>Price</th>
             <th>Available</th>
             <th>Actions</th>
           </tr>
         </thead>
         <tbody>
           {% for item in catalogItems %}
           <tr>
             <td>
              {% if item.image %}
            
            <img src="{{item.image.url}}" alt="item pic" class="" style="height: 90px; width: 90px;">
            {% else %}
            <img class="" src="{% static 'images/avatar.jpeg'%}" alt="item pic" style="height: 90px; width: 90px;">
            {% endif %}
             </td>
             <td>{{item.name}}</td>
             <td>{{item.category}}</td>
             <td>{{item.description}}</td>
             <td>{{item.price}}</td>
             <td>{{item.is_available}}</td>
             <td><a href="{% url 'deleteCatalogItem' item.id %}"><button class="btn btn-danger">delete</button></a> </td>
           </tr>
        {% endfor %}
   
         </tbody>
        </table>
   
        
        {% else %}
        <p>You currently have no Items in any category. Add item categories</p>
   
        {% endif %}
          
       </div>
    
</div>
{% endblock %}