{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if company.bannerPicture %}
<div class="bannerPic" style="background-image: url('{{company.bannerPicture.url}}');">   

  </div>
{% else %}
<div class="bannerPic" style="background-image: url('{%static 'images/Grey_full.png'%}');">
  </div>

{% endif %}

  <div>
    <div class="profile-single-company">
        <div class="profile-companies">
          <div class="profile-picture-wrapper">
            
            {% if company.profilePicture %}
            <img src="{{company.profilePicture.url}}" alt="profilePic" class="profile-company-profile-pic">
            {% else %}
            <img class="profile-company-profile-pic" src="{% static 'images/avatar.jpeg'%}" alt="Avatar">
            {% endif %}

           
            
          </div>
          <div>
            <p class="profile-company-name">{{company.companyName}}</p>
            <h5 class="profile-company-category">{{company.category}}</h5>
            <p class="profile-social-stats">{{company.companyLikes}} <a href="{% url 'likeAndDislikeCompany' company.id %}">Likes</a> . {{company.companyFollows}} <a href="{% url 'followAndUnfollowCompany' company.id %}">Followers</a></p>
            {% if avg_rating is None %}
            <i class="fa">No rating</i>
            {% else %}
            {{avg_rating}}<i class="fa fa-star"></i
              >
            {% endif %}              <a href="{% url 'reviews' company.id %}" class="button-text" ><button class="button" style="float: right; margin-top: 0px;">Reviews </button></a>
          </div>
          
        </div>
        
        
          
        </div>
  </div>
  <hr style="color: #083966;">
  <div class="company-profile-nav">
    <ul>
        <li><a href="{% url 'companyProfile' company.id %}">About</a></li>
        <li><a href="{% url 'allPosts' company.id %}">Posts</a></li>
        <li><a href="{% url 'contact' company.id %}">Contact</a></li>
        <li><a href="{% url 'reviews' company.id %}">Reviews</a></li>
        <li><a href="{% url 'companyPhotos' company.id %}">Photos</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="{% url 'allJobs' company.id %}">Jobs</a></li>
        <li><a href="">Catalog</a></li>
    </ul>
  </div>
  
  <hr style="color: #083966;">
  <div class="profile-main-content">
    <div class="sidebar">
      <div>
      <h3 style="margin-top: 30px;">Profile Info</h3>

      <div class="sidebar-profileInfo-content">
        <p class="profileInfo-text"><i class="fa fa-map-marker"></i> {{company.address}}</p>
        <p class="profileInfo-text"><i class="fa fa-phone"></i> {{company.phone}}</p>
        <p class="profileInfo-text"><i class="fa fa-envelope"></i> {{company.email}}</p>
        <p class="profileInfo-text"><i class="fa fa-globe"></i> {{company.websiteUrl}}</p>
        <p class="profileInfo-text"><i class="fa fa-clock"></i> opened/closed</p>
      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Gallery <span class="see-all"><a href="{% url 'companyPhotos' company.id %}"> See all</a></span></h3>

      <div class="sidebar-profileInfo-content profile-gallery">
       {% for post in posts %}
       {% if post.company == company %}
        <img src="{{post.image.url}}" alt="profilePic" class="profile-company-gallery">
        {% endif %}
        {% endfor %}

      </div>
    </div>
    <div>
      <h3 style="margin-top: 30px;">Location</h3>
      <div id="map"></div>


      
    </div>
    <div id="ad-container" style="margin-top: 30px;">
      <a href="" id="anchor-tag">
        <span style="color: blue;">Ad</span>
      <p class="ad-text"  id="ad-text" ></p>
      <img src="" alt="Advertisement" style="height: 180px; width: 350px; border-radius: 10px;"></a>

    </div>
    <div id="ad-container2" style="margin-top: 30px;">
      <a href="" id="anchor-tag2">
        <span style="color: blue;">Ad</span>
      <p class="ad-text2"  id="ad-text2" ></p>
      <img src="" alt="Advertisement" style="height: 180px; width: 350px; border-radius: 10px;"></a>

    </div>




    </div>
    <div class="container">
      
    {% if not catalog %}
    <p>There are currently no items in the catalog</p>
    {% else %}
    <h3>{{catalog.name}}</h3>
    {% for category in categories %}
    <div class="row col-12">
        <h3>{{category.name}}</h3>
    </div>
    <div class="row col-12 p-1 ">
        {% for item in catalogItems %}
        {% if item.category == category %}
        <div class="col-md-3 col-lg-3 col-sm-6">
        <div class="card p-1 m-1  " style="width: 15rem;">
            <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.description}}</p>
              <p class="p-0 m-0">Price: {{item.price}}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    {% endfor %}


    {% endif %}




    </div>
  </div>

  {% include 'footer.html' %}
  <script>
    $(document).ready(function(){
      console.log("testing images")

$('.my-image').on('click',function(){
    var image_id = $(this).attr('id');
    var image_src = $(this).attr('src');
    $('#my-modal img').attr('src', image_src);
    $('#my-modal').show();
});
$('.close-modal').on('click', function(){
$('#my-modal').hide();
});



    console.log("testing")
    var lat = {{ company.latitude }};
    var lng = {{ company.longitude }};
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 6
    });
    var marker = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map
  });
})
      </script>
      <script>
        $(document).ready(function() {
      var ads = [
        {% for ad in ads %}
          { 
            "image_url": "{{ ad.adImage.url }}",
            "text": "{{ ad.Ad_text }}",
            "id":"{{ ad.id }}",
            "impressions": "{{ ad.impressionsCount }}",
          },
        {% endfor %}
      ];
    
      // Choose a random ad from the list
      var ad = ads[Math.floor(Math.random() * ads.length)];
      ad.impressions++;
      url =  `/advertisements/ads/impressions/${ad.id}/`;
    
    // Save the updated impressions to the server
    $.ajax({
        type: "POST",
        url:url,
        data: {
            ad_id: ad.id,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }
    });
    
      // Get the ad container element
      var adContainer = $('#ad-container');
      var newLink = `/advertisements/ads/${ad.id}/`;
    
      // Set the source of the image tag and ad text
      adContainer.find('img').attr('src', ad.image_url);
      adContainer.find('.ad-text p').text(ad.text);
      document.getElementById('ad-text').innerHTML = ad.text;
      document.getElementById("anchor-tag").href = newLink;
    
    
      // Fade in the ad
      adContainer.fadeIn();
    
      // After some time, fade out the ad and choose a new one
      function changeAd(){
    
        console.log('fading out');
        adContainer.fadeOut(function() {
          // Choose a new ad and repeat the process
          var newAd = ads[Math.floor(Math.random() * ads.length)];
          var newLink =`/advertisements/ads/${newAd.id}/`;
          newAd.impressions++;
          newurl = `/advertisements/ads/impressions/${newAd.id}/`;
    
    // Save the updated impressions to the server
     $.ajax({
        type: "POST",
        url: newurl,
        data: {
            ad_id: newAd.id,
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }
    });
    
          adContainer.find('img').attr('src', newAd.image_url);
          adContainer.find('p').text(newAd.text);
    
          document.getElementById('ad-text').innerHTML = newAd.text;
          document.getElementById("anchor-tag").href = newLink;
    
    
          adContainer.fadeIn();
        });
        setTimeout(changeAd, 10000); 
    
      }
      changeAd()
     
    });
    
          </script>
           <script>
            $(document).ready(function() {
          var ads = [
            {% for ad in ads %}
              { 
                "image_url": "{{ ad.adImage.url }}",
                "text": "{{ ad.Ad_text }}",
                "id":"{{ ad.id }}",
                "impressions": "{{ ad.impressionsCount }}",
              },
            {% endfor %}
          ];
        
          // Choose a random ad from the list
          var ad2 = ads[Math.floor(Math.random() * ads.length)];
          ad2.impressions++;
          url2 =  `/advertisements/ads/impressions/${ad2.id}/`;
        
        // Save the updated impressions to the server
        $.ajax({
            type: "POST",
            url:url2,
            data: {
                ad_id: ad2.id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }
        });
        
          // Get the ad container element
          var adContainer2 = $('#ad-container2');
          var newLink2 = `/advertisements/ads/${ad2.id}/`;
        
          // Set the source of the image tag and ad text
          adContainer2.find('img').attr('src', ad2.image_url);
          adContainer2.find('.ad-text p').text(ad2.text);
          document.getElementById('ad-text2').innerHTML = ad2.text;
          document.getElementById("anchor-tag2").href = newLink2;
        
        
          // Fade in the ad
          adContainer2.fadeIn();
        
          // After some time, fade out the ad and choose a new one
          function changeAd2(){
        
            console.log('fading out');
            adContainer2.fadeOut(function() {
              // Choose a new ad and repeat the process
              var newAd2 = ads[Math.floor(Math.random() * ads.length)];
              var newLink2 =`/advertisements/ads/${newAd2.id}/`;
              newAd2.impressions++;
              newurl2 = `/advertisements/ads/impressions/${newAd2.id}/`;
        
        // Save the updated impressions to the server
         $.ajax({
            type: "POST",
            url: newurl2,
            data: {
                ad_id: newAd2.id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            }
        });
        
              adContainer2.find('img').attr('src', newAd2.image_url);
              adContainer2.find('p').text(newAd2.text);
        
              document.getElementById('ad-text2').innerHTML = newAd2.text;
              document.getElementById("anchor-tag2").href = newLink2;
        
        
              adContainer2.fadeIn();
            });
            setTimeout(changeAd2, 11000); 
        
          }
          changeAd2()
         
        });
        
              </script>
{% endblock %}